h1{
    color :white
}

body{
    background-color :black
}

button{   background-color:aqua;
    border: none;
    position: absolute;
    padding: 10px 25px;
    font-size:15px;
    font-weight: bold;
    top: 16.5%;
    left: 1%;

}
h2{
    color:black;
    background-color:hotpink;
    border:1px;
    position: absolute;
    padding:10px 10px;
    font-size:15px;
    font-weight: bold;
    top:10%;
    right:20px;


}
h3{
    color:white;
    top: 10%;
    left: 20px;
}
img{
    top: 9%;
    left: 17px;
    width: 30px;

}
h4{
    color:white;
    top:9%;
    left:17px;
}