h1{
    color :white
}

body{
    background-color :black
}

button{
    background-color:aqua;
    border: none;
    position: absolute;
    padding: 10px 25px;
    font-size:15px;
    font-weight: bold;
    top: 10%;
    left: 1%;
}
button2{   background-color:aqua;
    border: none;
    position: absolute;
    padding: 10px 25px;
    font-size:15px;
    font-weight: bold;
    top: 16.5%;
    left: 1%;

}
h2{
    color:black;
    background-color:hotpink;
    border:1px;
    position: absolute;
    padding:10px 10px;
    font-size:15px;
    font-weight: bold;
    top:10%;
    right:20px;


}